footer
{
    margin-top: 150px;

    p
    {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
        color: #BDBDBD;

        


        @media (max-width: 1130px)
        {
            font-size: 25px;
            margin-bottom: 40px;
        }
    }
}