header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3% 0;
    margin-bottom: 50px;

    @include respond(tab-port)
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 3% 10%;
    }

    h1 
    {
        font-family: 'PT Serif', serif;
        font-size: 3.5rem;
        letter-spacing: -4.5%;
        width: 55rem;
        margin-left: 15%;
        margin-right: 10%;

        @include respond(tab-land)
        {
            margin-left: 7%;
        }

        @include respond(tab-port)
        {
            margin-left: 0;
            margin-right: 0;
            text-align: left;
            width: 100%;
        }
    }

    .presentation
    {
        display: flex;
        flex-direction: column;

        h3 
        {
            font-family: 'Poppins', sans-serif;
            font-size: 2rem;
            margin-bottom: -3%;
        }

        p 
        {
            font-family: 'Poppins', sans-serif;
            font-size: 2rem;
            width: 60%;
        }
    }
}